<head>
  <meta charset="utf-8">
  <title>EduAngular</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<app-upperbar *ngIf="userClaims"></app-upperbar>
<nav *ngIf="!userClaims">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">
        <i class="material-icons">book</i>Education with EPAM</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        <li>
          <a routerLink="/login" class="waves-effect waves-light btn-large">Login</a>
        </li>

        <li>
          <a routerLink="/signup" class="waves-effect waves-light btn-large">Register</a>
        </li>
      </ul>
    </div>
</nav>
<div style="text-align:center">
  <h2 class="jumbotron bg-secondary text-white">These Courses are available right now</h2>
</div>
<div class="row col s12">
<table class="table table-sm table-hover">
  <tr *ngFor="let course of courseService.guestCourseList">
    <td>{{course.Name}} - {{course.Description}}</td>
    <td>Students {{course.Students.length}}/{{course.StudentsMaxQuantity}}</td>
    <td>Required score {{course.MinRequiredScore}} of {{course.MaxScore}}</td>
    <td>Teacher {{course.Creator.Name}}</td>
    <td>Course starts {{course.StartDate}} ({{course.DurationInDays}})</td>
  </tr>
</table>
</div>